services:
  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8088:8080"
    environment:
      - URL=/api-files/openapi.yaml
    volumes:
      - ./openapi.yaml:/usr/share/nginx/html/openapi.yaml:ro
